@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --background-secondary: #18181b;
  --foreground: #ededed;
  --blue: #1d4ed8;
  --border-color: #3f3f46;
  --body-max-width: 1500px;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: var(--body-max-width);
  margin: 0 auto;
}


.btn{
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    background-color: var(--blue);
    cursor: pointer;
}

.links{
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}
.links:hover{
  background-color: var(--background-secondary);
}
.active{
  background-color: var(--background-secondary);
}

.loader {
  width: 20px;
  height: 20px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff; /* Change color here */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error{
    color: red;
    font-size: 0.7rem;
    font-style: italic;
}